<div class="modal fade" id="modal-excluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Após a exclusão não será possível recuperar o registro
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btnConfirmar">Confimar Exclusão</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ExcluirAlbum(AlbumId) {
        $(".modal").modal();
        $(".btnConfirmar").on('click', function () {
            $.ajax({
                url: '/Album/Excluir',
                type: 'POST',
                data: { AlbumId: AlbumId },
                success: function () {
                    location.reload();
                    $(".modal").modal('close');
                }
            })
        });
    }
</script>