@model IEnumerable<Album>

@{
    ViewData["Title"] = "Albuns";
}

<div class="container">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFoto)
                </td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@item.AlbumId" class="btn btn-sm btn-warning">Atualizar</a>|
                    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-excluir" onclick="ExcluirAlbum(@item.AlbumId)">Excluir</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_ModalExcluirAlbumPartial.cshtml" />


